// COLORS
$bg-color: #f5f6f8;
$bg-alt-color: white;
$text-color: #222;
$text-light-color: red;
$border-color: #ccc;
$url-color: #0969da;

// SIZES
$thin-padding: 28px;
$thick-padding: 40px;
$sidebar-width: 300px;

$large-gap: 24px;

$item-padding: 16px;

// OTHER
$border: 1px solid $border-color;
$card-border-radius: 5px;

$breakpoint: 900px;
