@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab');
@import "variables";

html,
body,
#__next {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  color: $url-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
