@import "variables";

.container {
  border: $border;
  border-radius: $card-border-radius;
  background-color: $bg-alt-color;
  display: flex;
}
.details {
  padding: 16px;
}

.name {
  display: inline-block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.25;
  margin: 0;
  margin-bottom: 8px;
}

.description {
  max-width: 600px;
  font-size: 14px;
  line-height: 1.5;
}

.links {
  font-size: 14px;
  line-height: 1.5;
  margin-top: 16px;
}
