@import "variables";

.container {
  max-width: 800px;
  border: $border;
  border-radius: $card-border-radius;
  background-color: white;
  display: flex;
}

.thumbnail {
  padding-left: 16px;
  padding-block: 16px;
  width: 200px;

}

.details {
  padding: 16px;
}

.name {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.25;
  margin: 0;
  margin-bottom: 8px;
}

.description {
  max-width: 600px;
  font-size: 14px;
  line-height: 1.5;
}

.links {
  font-size: 14px;
  line-height: 1.5;
  margin-top: 16px;
}
